.sky{
    height:50%;
    width:100%;
    background-color:white;
    position:absolute;
    z-index:0;
    }
    .lake{
        height:50%;
    width:100%;
    background-color:white;
    position:absolute;
    top:50%;
    z-index:0;
    
    }
    .skystrip{
        width:100%; 
        position:relative;
        z-index:0
  
    }
    .skyBlue{
      position:absolute;
      height:100%;
      width:100%;
      background-color: rgba(66, 194, 233, 0.548);
      z-index:1
  
    }
    .lakestrip{
        width:100%;
        position:relative;
        z-index:0;
    
    }
    
    .building{
    
    }
    
    .buildingReflection{
    
    }
    body{
      overflow: hidden;
  
  
  
    }
    .meteorSKy{
      height:100%;
      width:100%;
      position:absolute;
      z-index: 2;
    }
    .body{
      overflow: hidden;
    }
  
    .meteor{
      width:10px;
      height:60%;
      animation:meteorFall 6s both linear;
      transform-origin: bottom;
      position:absolute;
      z-index:1;
      border-radius:50px;
  }
  
  @keyframes meteorFall {
      0%{transform:rotate(45deg) translateY(-100%)}
      100%{transform:rotate(45deg) translateY(200%)}
  
  }
  
   .building{
     position:absolute;
     z-index:1;
     height:10px;
     top:100%;
     transform-origin: bottom;
    
  
   } 
  
   
  
  
  
   .skyLine{
     width:100%;
     height:50%;
    position:absolute;
    z-index: 1;
    overflow: hidden;
  
  
  }
    
  .skyLine2{
    height:50%;
    width:100%;
    position:absolute;
    z-index: 1;
    overflow: hidden;
  }
  .captors{
    height:100%;
    width:100%;
    position:absolute;
    z-index: 1;
    overflow: hidden;
  }
  .captured{
      position:absolute;
      width:20px;
      height:20px;
      border-radius:10px;
      z-index: 3
  }

  .starlist{ 
      border-radius:2px 2px 2px 2px;     
      z-index:4;
      animation:starlist 1s both ;
      transform-origin: center;
  }

  @keyframes starlist{
      0%{transform:translateX(0%)scale(1)}
      100%{transform:translatex(100%)scale(30); opacity:1%}
  }

  .clearButton{
    position:fixed;
    padding-left:5px;
    border-radius:3px;
    z-index:4;
  }
  .clearButton:hover{
    width:100%;
    background-color: skyblue;
    opacity: 50%;
  }

  .veil{
    animation:veil .5s both
  }

  @keyframes veil{
    0%{height:1%}
    100%{height:50%;opacity:1%}
  }
    